*,
*::before,
*::after{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body{
  font-size:16px;
  font-family: 'Kumbh Sans', sans-serif;
  overflow-x: hidden;
}

:root{
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);

}
button{
  font:inherit;
}
button:hover {
  cursor: pointer;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color:var(--Dark-grayish-blue);
  position:relative;
}
a::after {
  content: "";
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--Orange);
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}
a:hover{
  color:black;
}
a:hover::after{
  transform: scaleX(1);
}
.link-no-effects::after{
  display: none;
}




@media (min-width:56em){
.mobile-hamburger {
  display:none;
}
.header{
  display:flex;
  height:10vh;
  align-items: center;
  padding:2em;
  margin-top:0.5rem;
  justify-content: center;
}
.logo{
  margin-right:3em;
}
.navbar{
  width:80%;
  display:flex;
  align-items: center;
  padding-block:2rem;
  border-bottom:1px solid hsla(220, 14%, 75%,0.4) ;
}
.container{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.main-navigation-list{
  display: flex;
  gap:1.7em;
}
.cart-avatar-container{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:2rem;
}
.counter-cart[data-visiblee='false']{
  display:none;
}
.counter-cart[data-visiblee='true']{
  position:absolute;
  top:5px;
  left:10px;
  font-size:10px;
  width:1rem;
  background:var(--Orange);
  color:white;
  font-weight: 600;
  border-radius:70%;
  text-align: center;
}
.avatar{
  width:3rem;
  cursor: pointer;
}
.avatar:hover{
  border:3px solid var(--Orange);
  border-radius:50%;
}
.cart-btn{
  background:none;
  border: none;
}
.checkout-center{
  position:absolute;
  width:22rem;
  min-height:16rem;
  background-color:white;
  top:4rem;
  left:-10rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px 2px lightgrey;
}
.active{
  display:none;
}
.checkout-para-top{
  padding:1.5rem;
  border-bottom: 1px solid var(--Light-grayish-blue);
  font-weight: 600;
}
.checkout-para-bot[data-zero='true']{
  display:block;
  font-weight: 600;
  color:var(--Dark-grayish-blue);
  text-align:center;
  margin-top:4rem;
}
.checkout-para-bot[data-zero='false'] {
  display:none;
}
.rdy-checkout[data-add='true']{
  display:flex;
  gap:0.5rem;
  margin-block:1.5rem;
}
.rdy-checkout[data-add='false']{
  display:none;
}

.rdy-checkout[data-add-vans='true'] {
  display: flex;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.rdy-checkout[data-add-vans='false'] {
  display: none;
}
.rdy-checkout[data-add-nike='true'] {
  display: flex;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.rdy-checkout[data-add-nike='false'] {
  display: none;
}
.rdy-checkout[data-add-byfar='true'] {
  display: flex;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.rdy-checkout[data-add-byfar='false'] {
  display: none;
}

.mini-checkout-image{
  width:3.5rem;
  border-radius: 0.4rem;
  border:none;
  margin-left:1rem;
}
.summary-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:0.2rem;
}
.product-name-para{
  color:var(--Dark-grayish-blue);
  font-size:16px;
}
.summary,
.counter{
  font-size:17px;
  color:var(--Dark-grayish-blue)
}
.result{
  color:black;
  font-weight: 600;
}
.remove{
  position:absolute;
  width:14px;
  height:16px;
  right:1rem;
}
.remove:hover{
  cursor: pointer;
}
.checkout-btn{
  position:relative;
  z-index: 100;
  margin-bottom:1rem;
  margin-left:2rem;
  color: var(--White);
  width: 18rem;
  height: 3rem;
  background-color: var(--Orange);
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  transition: background-color 0.3s ease;
}
.checkout-btn:hover {
  background-color: hsla(26, 100%, 55%, 0.75);
}
/* main content */
.main-content{
  height:45rem;
  display:grid;
  grid-template-areas: 'one two';
  place-items: center;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr;
}
.main-content-view{
  height:45rem;
  display:grid;
  grid-template-areas: 'one';
  place-items: center;
  grid-template-columns:1fr;
  grid-template-rows: 1fr;
}
.left-grid{
  grid-area: one;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:2rem;
  margin-bottom:3rem;
}
.right-grid{
  grid-area: two;
  width:90%;
}
.main-image{
  width:440px;
  border-radius: 1rem;
  margin-left:9rem;
}

.border-effect{
  position: relative;
}
.border-effect::before,
.border-effect::after{
  content:"";
  position:absolute;
  width:440px;
  aspect-ratio: 1;
  inset:0 0 0 9rem;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgba(252, 83, 158, 1) 0%, rgba(255, 114, 0, 1) 100%, rgba(189, 244, 255, 1) 100%);
  box-shadow: 0 0 0 0 rgba(252, 83, 158, 1);
  animation: border 3s linear infinite;
  z-index:-1;
}

.border-effect::after{
  filter:blur(0.5rem);
}
.border-effect-view {
  position: relative;
}

.border-effect-view::before,
.border-effect-view::after {
  content: "";
  position: absolute;
  width: 440px;
  aspect-ratio: 1;
  inset: 0;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgba(252, 83, 158, 1) 0%, rgba(255, 114, 0, 1) 100%, rgba(189, 244, 255, 1) 100%);
  box-shadow: 0 0 0 0 rgba(252, 83, 158, 1);
  animation: border 3s linear infinite;
  z-index: -1;
}

.border-effect-view::after {
  filter: blur(0.5rem);
}
.main-image:hover{
  cursor: pointer;
}
.main-image-view{
  width: 440px;
  border-radius: 1rem;
}
.small-images{
  display:flex;
  margin-left:9rem;
  gap:25px;
}
.small-images-view{
  display: flex;
  gap: 25px;
}

.small-img{
  position:relative;
  width:90px;
  border-radius:1rem;
  filter: brightness(100%) blur(0);
  transition: filter 0.5s ease;
}
.small-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.small-img:hover::after,
.small-img:focus::after,
.small-img:active::after {
  opacity: 0.5;
  border: 1px solid var(--Orange);
  border-radius: 1rem;
}

.small-img:hover,
.small-img:focus,
.small-img:active {
  border: 1px solid var(--Orange);
  filter: brightness(70%) blur(0px);
  cursor: pointer;
}
.flex-container{
  display:flex;
  flex-direction: column;
  gap:2rem;
  width:75%;
}
.text-container{
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.orange-text{
  font-size:15px;
  color:var(--Orange)
}
.product-header{
  font-size: 3vw;
  font-weight: 600;
}
.product-description{
  color:var(--Dark-grayish-blue);
  font-size:1.2vw;
}
.price-container{
  position: relative;
  display: flex;
  align-items: center;
  gap:1rem;
  margin-bottom: 2rem;;
}
.price{
  font-size:2vw;
  font-weight: 600;
}
.orange-reduction{
  color:var(--Orange);
  font-weight:600;
  background-color: var(--Pale-orange);
  border-radius: 0.5rem;
  padding:0.3rem;
}
.grey-reduction{
  position:absolute;
  top:2.4rem;
  color:var(--Grayish-blue)
}
.functionality-container{
  display:flex;
  gap:1rem;
  align-items: center;
}
.small-btns{
  display:flex;
  text-align: center;
}
.minus-btn,
.plus-btn{
  height:3rem;
  width:4.5vw;
  border:none;
  background: var(--Light-grayish-blue)
}
.plus-btn{
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.minus-btn{
  border-top-left-radius:0.5rem;
  border-bottom-left-radius:0.5rem;
}
.number{
  display:inline-block;
  padding-block:0.88rem;
  background-color:var(--Light-grayish-blue);
  width:1rem;
}
.add-cart-btn{
  color:var(--White);
  width:18vw;
  height:3rem;
  background-color: var(--Orange);
  border-radius:0.5rem;
  font-weight: 600;
  border:none;
  box-shadow: 0px 5px 20px 0px hsla(26, 100%, 55%,0.5);
  transition: background-color 0.3s ease;
}
.add-cart-btn:hover {
  background-color: hsla(26, 100%, 55%, 0.75);
}
.previous,
.next{
  display:none;
}
/* lightbox */

.left-grid-lightbox {
  position:absolute;
  width: 100%;
  height:200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.9);
  gap:1em;
}
.close-lb {
  display: none;
}

.main-image-container-lb{
  text-align: center;
  position:relative;
  
}
.main-image-lb {
  width: 40%;
  border-radius: 1rem;
  margin-left: 0;
}

.small-images-lb {
  display: flex;
  margin-left:0;
  gap:25px;
  margin-bottom:7rem;
}
.close-lightbox{
  position:absolute;
  background:none;
  font-size:36px;
  color:white;
  border:none;
  z-index:999;
  top:-3rem;
}
/* end lightbox */
/* checkout */
.checkout-main{
  height: 45rem;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10vw;
}
.rdy-checkout-sum[data-add='true'] {
  display: flex;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.rdy-checkout-sum[data-add='false'] {
  display: none;
}

.rdy-checkout-sum[data-add-vans='true'] {
  display: flex;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.rdy-checkout-sum[data-add-vans='false'] {
  display: none;
}

.rdy-checkout-sum[data-add-nike='true'] {
  display: flex;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.rdy-checkout-sum[data-add-nike='false'] {
  display: none;
}

.rdy-checkout-sum[data-add-byfar='true'] {
  display: flex;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.rdy-checkout-sum[data-add-byfar='false'] {
  display: none;
}
.form{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap:2rem;
}
.name-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:0.5rem;
}
.email-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}
.adress-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}
.cardnumber-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}
input{
  font:inherit;
  width:18rem;
  height:2rem;
  border-radius: 0.5rem;
  border:1px solid var(--Orange);
  font-size: 14px;
}
input:focus{
  border-color: var(--Orange);
  background-color: var(--White);
  color: #333;
  box-shadow: 0 0 5px var(--Orange);
  outline: none;
}
::placeholder{
  font-size: 14px;
  color:#5b7c99;
}
.checkout-cart {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.confirm{
color:var(--White);
width:18rem;
height: 3rem;
background-color: var(--Orange);
border-radius:0.5rem;
font-weight: 600;
border:none;
box-shadow: 0px 5px 20px 0px hsla(26, 100%, 55%, 0.5);
transition: background-color 0.3s ease;
}

.confirm:hover {
  background-color: hsla(26, 100%, 55%, 0.75);
}
.orange-line {
  border-bottom: 2px solid var(--Orange);
  width: 19vw;
  margin-left:1rem;
}
.total{
  margin-left:1rem;
  margin-top:0.5rem;
}
.congratulations-container{
  min-height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:1rem;
}
.success{
  color:var(--Orange)
}
.info-success{
  line-height: 1.5;
}
.orange {
  color: var(--Orange);
}
.back {
  color: var(--White);
  width: 20vw;
  height: 3rem;
  background-color: var(--Orange);
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  box-shadow: 0px 5px 20px 0px hsla(26, 100%, 55%, 0.5);
  transition: background-color 0.3s ease;
}

.back:hover {
  background-color: hsla(26, 100%, 55%, 0.75);
}
.glow-effect {
  --glow-line-color: red;
  --glow-line-thickness: 3px;
  --glow-blur-color: red;
  --glow-blur-size: 3px;
  position: relative;
}

.glow-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0;
}

.glow-blur,
.glow-line {
  width: 100%;
  height: 100%;
  rx: 0.5rem;
  fill: transparent;
  stroke: #fff;
  stroke-width: 5px;
  stroke-dasharray: 20px 30px;
}

.glow-effect:hover :is(.glow-line, .glow-blur) {
  stroke-dashoffset: -100px;
  transition: stroke-dashoffset 1500ms ease-in;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}

.glow-effect:hover .glow-container {
  animation: glow-visibility 1500ms;
}

@keyframes glow-visibility {
  0% {
    opacity: 0
  }

  25% {
    opacity: 1
  }

  75% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}
}
/* MOBILE */
@media (max-width:55.999em){

.mobile-hamburger{
  display:block;
  position: absolute;
  top:1.6em;
  left:1.5em;
  background: url('./assets/icon-menu.svg');
  background-repeat: no-repeat;
  border:0;
  width:1rem;
  aspect-ratio: 1;
  z-index: 999;
  transition: transform ease-in-out 200ms;
}
.mobile-hamburger:hover{
  transform: rotate(90deg);
}
.mobile-hamburger[aria-expanded='true'] {
  background: url('./assets/icon-close.svg');
  background-repeat: no-repeat;
  border: 0;
  width: 1rem;
  aspect-ratio: 1;
  transition: transform ease-in-out 500ms;
}
.mobile-hamburger[aria-expanded='true']:hover{
  transform: rotate(1turn);
}
.logo{
  margin-left:4em;
}
.cart-btn {
  background: none;
  border: none;
}
.navbar{
  display:flex;
  justify-content:space-between;
  align-items: center;
  height:4.2rem;
}
.main-navigation-list{
  position: fixed;
  inset: 0 35% 0 0;
  display: flex;
  flex-direction: column;
  padding: min(10vh, 5rem) 2em;
  gap: 4em;
  transform: translate(-120%);
  transition: transform 300ms ease-out;
  z-index: 100;
  height:100%;
  background-color:white;
  box-shadow: 0 2px 10px 2px grey;
}
.main-navigation-list :nth-child(1){
  margin-top:3rem;
}
a::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--Orange);
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}
.main-navigation-list[data-visible='true'] {
  transform: translate(0);
}
a{
  color:black;
  font-weight:700;
}

.small-images{
  display:none;
}
.cart-avatar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:1.5rem;
  margin-right:1rem;
}

.counter-cart[data-visiblee='false'] {
  display: none;
}

.counter-cart[data-visiblee='true'] {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 10px;
  width: 1rem;
  background: var(--Orange);
  color: white;
  font-weight: 600;
  border-radius: 70%;
  text-align: center;
}
.container{
  margin-right:1rem;
}
.avatar {
  width: 2.5rem;
  cursor: pointer;
}
.avatar:hover {
  border: 3px solid var(--Orange);
  border-radius: 50%;
}
.cart-btn {
  background: none;
  border: none;
}
.checkout-center {
  position: absolute;
  width: 22rem;
  min-height: 16rem;
  background-color: white;
  top: 4rem;
  right:-1rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px 2px lightgrey;
  z-index: 999;
}
.active {
  display:none;
}
.checkout-para-top {
  padding: 1.5rem;
  border-bottom: 1px solid var(--Grayish-blue);
  font-weight: 600;
}

.checkout-para-bot[data-zero='true'] {
  display: block;
  font-weight: 600;
  color: var(--Dark-grayish-blue);
  text-align: center;
  margin-top: 4rem;
}
.checkout-para-bot[data-zero='false'] {
  display: none;
}
.rdy-checkout[data-add='true'] {
  display: flex;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.rdy-checkout[data-add='false'] {
  display: none;
}
.rdy-checkout[data-add-vans='true'] {
  display: flex;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.rdy-checkout[data-add-vans='false'] {
  display: none;
}

.rdy-checkout[data-add-nike='true'] {
  display: flex;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.rdy-checkout[data-add-nike='false'] {
  display: none;
}

.rdy-checkout[data-add-byfar='true'] {
  display: flex;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.rdy-checkout[data-add-byfar='false'] {
  display: none;
}
.mini-checkout-image {
  width: 3.5rem;
  border-radius: 0.4rem;
  border: none;
  margin-left: 1rem;
}

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

.product-name-para {
  color: var(--Dark-grayish-blue);
  font-size: 17px;
}

.summary,
.counter {
  font-size: 17px;
  color: var(--Dark-grayish-blue)
}

.result {
  color: black;
  font-weight: 600;
}

.remove {
  position: absolute;
  width: 14px;
  height: 16px;
  right:1rem;
}

.remove:hover {
  cursor: pointer;
}

.checkout-btn {
  margin-bottom: 1rem;
  margin-left: 2rem;
  color: var(--White);
  width: 18rem;
  height: 3rem;
  background-color: var(--Orange);
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: hsla(26, 100%, 55%, 0.75);
}

/* main content */
.main-content {
  display: grid;
  grid-template-areas: 
  'one'
  'two';
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
}
.main-content-view {
  display: grid;
  grid-template-areas: 'one';
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.left-grid {
  grid-area: one;
  text-align: center;
  display: flex;
}

.right-grid {
  display: flex;
  flex-direction: column;
  grid-area: two;
  width: 90%;
  margin-bottom: 8vh;
}
.main-image-container{
  position: relative;
  z-index: 1;
}

.main-image {
  width:100%;
  height:90%;
  padding-bottom:1rem;
}
.main-image-view {
  width: 100%;
  height: 90%;
}
.small-images-view {
  display: none;
}
.flex-container {
  display: flex;
  flex-direction: column;
  gap:1rem;
  width:98%;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orange-text {
  font-size: 14px;
  color: var(--Orange)
}

.product-header {
  font-size: 7vw;
  font-weight: 600;
}

.product-description {
  color: var(--Dark-grayish-blue);
  font-size:3.6vw;
}

.price-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom:0.5rem;
  ;
}

.price {
  font-size: 6vw;
  font-weight: 600;
}

.orange-reduction {
  color: var(--Orange);
  font-weight: 600;
  background-color: var(--Pale-orange);
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.grey-reduction {
  margin-left:5rem;
  color: var(--Grayish-blue)
}

.functionality-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.small-btns {
  display: flex;
}

.minus-btn,
.plus-btn {
  height: 3rem;
  width: 30vw;
  border: none;
  background: var(--Light-grayish-blue)
}

.plus-btn {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.minus-btn {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.number {
  font-weight: 600;
  display: inline-block;
  padding-block: 0.88rem;
  background-color: var(--Light-grayish-blue);
  width: 1rem;
}

.add-cart-btn {
  color: var(--White);
  width: 64vw;
  height: 3rem;
  background-color: var(--Orange);
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  box-shadow: 0px 5px 20px 0px hsla(26, 100%, 55%, 0.5);
  transition: background-color 0.3s ease;
}

.add-cart-btn:hover {
  background-color: hsla(26, 100%, 55%, 0.75);
}
 .next-cont,
 .prev-cont{
   position: relative;
   z-index: 999;
 }
.next{
  position:absolute;
  z-index: 999;
  bottom:10rem;
  right: 1rem;
  background:url('./assets/icon-next.svg');
  background-repeat: no-repeat;
  border:none;
  width: 13px;
  height: 18px;
}
.previous{
  position: absolute;
  z-index: 999;
  bottom: 10rem;
  left: 1rem;
  background: url('./assets/icon-previous.svg');
  background-repeat: no-repeat;
  border: none;
  width:13px;
  height:18px;
}
.next-cont::after {
  content: '';
  position: absolute;
  z-index: 12;
  bottom: 9.6rem;
  right: 0.5rem;
  background-color: white;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.prev-cont::after{
  content: '';
    position: absolute;
    z-index: 12;
    bottom: 9.6rem;
    left: 0.5rem;
    background-color: white;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
}
.left-grid-lightbox {
  position: fixed;
  width: 100%;
  height: 120%;
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  gap: 1em;
}
.link-no-effects::after {
  display: none;
}
.border-effect {
  position: relative;
}

.border-effect::before,
.border-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  inset: 0;
  background: linear-gradient(90deg, rgba(252, 83, 158, 1) 0%, rgba(255, 114, 0, 1) 100%, rgba(189, 244, 255, 1) 100%);
  box-shadow: 0 0 0 0 rgba(252, 83, 158, 1);
  animation: border 3s linear infinite;
  z-index: -1;
}

.border-effect::after {
  filter: blur(0.3rem);
}

.border-effect-view {
  position: relative;
}

.border-effect-view::before,
.border-effect-view::after {
  content: "";
  position: absolute;
  width:100%;
  aspect-ratio: 1;
  inset: 0;
  background: linear-gradient(90deg, rgba(252, 83, 158, 1) 0%, rgba(255, 114, 0, 1) 100%, rgba(189, 244, 255, 1) 100%);
  box-shadow: 0 0 0 0 rgba(252, 83, 158, 1);
  animation: border 3s linear infinite;
  z-index: -1;
}

.border-effect-view::after {
  filter: blur(0.3rem);
}
/* checkout */

.checkout-main {
  display: grid;
  grid-template-areas: 
  'one'
  'two';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
}
.rdy-checkout-sum[data-add='true'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.rdy-checkout-sum[data-add='false'] {
  display: none;
}

.rdy-checkout-sum[data-add-vans='true'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.rdy-checkout-sum[data-add-vans='false'] {
  display: none;
}

.rdy-checkout-sum[data-add-nike='true'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.rdy-checkout-sum[data-add-nike='false'] {
  display: none;
}

.rdy-checkout-sum[data-add-byfar='true'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.rdy-checkout-sum[data-add-byfar='false'] {
  display: none;
}
.basket-container {
  grid-area: one;
  margin-top:10vw;
}
.form-container{
  grid-area: two;
}
.basket-center{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}
.rdy-checkout-sum{
  text-align:center;
  margin-block:0.5rem;
  display: block;
}

.name-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.email-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.adress-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.cardnumber-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

input {
  font: inherit;
  width: 18rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Orange);
  font-size: 14px;
}

input:focus {
  border-color: var(--Orange);
  background-color: var(--White);
  color: #333;
  box-shadow: 0 0 5px var(--Orange);
  outline: none;
}

::placeholder {
  font-size: 14px;
  color: #5b7c99;
}

.checkout-cart {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.confirm {
  color: var(--White);
  width: 18rem;
  height: 3rem;
  background-color: var(--Orange);
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  box-shadow: 0px 5px 20px 0px hsla(26, 100%, 55%, 0.5);
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.confirm:hover {
  background-color: hsla(26, 100%, 55%, 0.75);
}

.orange-line {
  border-bottom: 1px solid var(--Orange);
  width: 70vw;
  margin-block:1rem;
}

.total {
  text-align: center;
  margin-top: 1rem;
}
.congratulations-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-inline:1rem;
}

.success {
  color: var(--Orange)
}

.info-success {
  line-height: 1.5;
}

.orange {
  color: var(--Orange);
}

.back{
  color: var(--White);
  width: 100%;
  max-width: 18rem;
  height: 3rem;
  background-color: var(--Orange);
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  box-shadow: 0px 5px 20px 0px hsla(26, 100%, 55%, 0.5);
  transition: background-color 0.3s ease;
  }
  
.back:hover {
  background-color: hsla(26, 100%, 55%, 0.75);
  }
    .glow-effect {
      --glow-line-color: red;
      --glow-line-thickness: 3px;
      --glow-blur-color: red;
      --glow-blur-size: 3px;
      position: relative;
    }
  
    .glow-container {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      opacity: 0;
    }
  
    .glow-blur,
    .glow-line {
      width: 100%;
      height: 100%;
      rx: 0.5rem;
      fill: transparent;
      stroke: #fff;
      stroke-width: 5px;
      stroke-dasharray: 20px 30px;
    }
  
    .glow-effect:hover :is(.glow-line, .glow-blur) {
      stroke-dashoffset: -100px;
      transition: stroke-dashoffset 1000ms ease-in;
    }
  
    .glow-line {
      stroke: var(--glow-line-color);
      stroke-width: var(--glow-line-thickness);
    }
  
    .glow-blur {
      filter: blur(var(--glow-blur-size));
      stroke: var(--glow-blur-color);
      stroke-width: var(--glow-blur-size);
    }
  
    .glow-effect:hover .glow-container {
      animation: glow-visibility 1000ms;
    }
  
    @keyframes glow-visibility {
      0% {
        opacity: 0
      }
  
      25% {
        opacity: 1
      }
  
      75% {
        opacity: 1
      }
  
      100% {
        opacity: 0
      }
    }

}
/* in between mobile/desktop */
@media (min-width:34em ) and (max-width:55.999em) {
  
  .main-image {
    width: 50%;
    height:auto;
    padding-bottom: 1rem;
    border-radius: 2rem;
    margin-top:5vw;
  }

  .main-image-view {
    width: 50%;
    height:auto;
    border-radius: 2rem;
    margin-block:5vw;
  }
    .border-effect::before,
    .border-effect::after {
      content: "";
      position: absolute;
      width: 50%;
      aspect-ratio: 1;
      left:25%;
      top:5vw;
      background: linear-gradient(90deg, rgba(252, 83, 158, 1) 0%, rgba(255, 114, 0, 1) 100%, rgba(189, 244, 255, 1) 100%);
      box-shadow: 0 0 0 0 rgba(252, 83, 158, 1);
      animation: border 3s linear infinite;
      z-index: -1;
      border-radius: 2rem;
    }
     .border-effect-view::before,
     .border-effect-view::after {
       content: "";
       position: absolute;
       width: 50%;
       aspect-ratio: 1;
       left:25%;
       top:5vw;
       background: linear-gradient(90deg, rgba(252, 83, 158, 1) 0%, rgba(255, 114, 0, 1) 100%, rgba(189, 244, 255, 1) 100%);
       box-shadow: 0 0 0 0 rgba(252, 83, 158, 1);
       animation: border 3s linear infinite;
       z-index: -1;
       border-radius: 2rem;
     }
  
     .border-effect-view::after {
       filter: blur(0.3rem);
     }
    .main-content {
      display: grid;
      grid-template-areas:
        'one'
        'two';
      place-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;
    }
  
    .main-content-view {
      display: grid;
      grid-template-areas: 'one';
      place-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  
    .left-grid {
      grid-area: one;
      text-align: center;
      display: flex;
    }
  
    .right-grid {
      display: flex;
      flex-direction: column;
      grid-area: two;
      width: 90%;
      margin-bottom: 8vh;
    }
  
    .main-image-container {
      position: relative;
      z-index: 1;
    }
    .small-images-view {
      display: none;
    }
  
    .flex-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }
  
    .text-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      justify-content: center;
    }
  
    .orange-text {
      font-size: 13px;
      color: var(--Orange)
    }
  
    .product-header {
      font-size: 5vw;
      font-weight: 600;
    }
  
    .product-description {
      color: var(--Dark-grayish-blue);
      font-size: 2.8vw;
    }
  
    .price-container {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 0.5rem;
      justify-content: center;
    }
  
    .price {
      font-size: 4vw;
      font-weight: 600;
    }
  
    .orange-reduction {
      color: var(--Orange);
      font-weight: 600;
      background-color: var(--Pale-orange);
      border-radius: 0.5rem;
      padding: 0.3rem;
    }
  
    .grey-reduction {
      margin-left: 5rem;
      color: var(--Grayish-blue)
    }
  
    .functionality-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
  
    .small-btns {
      display: flex;
    }
  
    .minus-btn,
    .plus-btn {
      height: 3rem;
      width: 24vw;
      border: none;
      background: var(--Light-grayish-blue)
    }
  
    .plus-btn {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  
    .minus-btn {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
  
    .number {
      font-weight: 600;
      display: inline-block;
      padding-block: 0.88rem;
      background-color: var(--Light-grayish-blue);
      width: 1rem;
    }
  
    .add-cart-btn {
      color: var(--White);
      width: 50vw;
      height: 3rem;
      background-color: var(--Orange);
      border-radius: 0.5rem;
      font-weight: 600;
      border: none;
      box-shadow: 0px 5px 20px 0px hsla(26, 100%, 55%, 0.5);
      transition: background-color 0.3s ease;
    }
  
    .add-cart-btn:hover {
      background-color: hsla(26, 100%, 55%, 0.75);
    }
  
    .next-cont,
    .prev-cont {
      position: relative;
      z-index: 999;
    }
  
    .next {
      position: absolute;
      z-index: 999;
      bottom: 10rem;
      right: 1rem;
      background: url('./assets/icon-next.svg');
      background-repeat: no-repeat;
      border: none;
      width: 13px;
      height: 18px;
    }
  
    .previous {
      position: absolute;
      z-index: 999;
      bottom: 10rem;
      left: 1rem;
      background: url('./assets/icon-previous.svg');
      background-repeat: no-repeat;
      border: none;
      width: 13px;
      height: 18px;
    }
  
    .next-cont::after {
      content: '';
      position: absolute;
      z-index: 12;
      bottom: 9.6rem;
      right: 0.5rem;
      background-color:lightblue;
      width: 2rem;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  
    .prev-cont::after {
      content: '';
      position: absolute;
      z-index: 12;
      bottom: 9.6rem;
      left: 0.5rem;
      background-color: lightblue;
      width: 2rem;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  
    .link-no-effects::after {
      display: none;
    }
  
    .border-effect {
      position: relative;
    }
  
    
    .border-effect::after {
      filter: blur(0.4rem);
    }
  
    .border-effect-view {
      position: relative;
    }
    .border-effect-view::after {
      filter: blur(0.3rem);
    }
}
