*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 18px;
}
:root{
    /* colors */
--Light-red: hsl(0, 100%, 67%);
 --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
   --Cobalt-blue: hsl(234, 85%, 45%);
   /* gradients */
--Light-slate-blue : hsl(252, 100%, 67%);
 --Light-royal-blue : hsl(241, 81%, 54%);
   --Violet-blue : hsla(256, 72%, 46%, 1);
   --Persian-blue : hsla(241, 72%, 46%, 0);
/* neutral */
--White: hsl(0, 0%, 100%);
 --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
   --Dark-gray-blue: hsl(224, 30%, 27%);

}
body {
    font-family: 'Hanken Grotesk', sans-serif;
}
@media (min-width:35em){
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: var(--White);
}
.left-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width:26vw;
    height: 35vw;
    background: linear-gradient(to bottom, hsl(252, 96%, 63%), hsl(241, 81%, 54%));
    border-radius: 1.5rem;
    border:2px solid var(--Light-slate-blue);
}
.right-container{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center;
    width: 26vw;
    height: 35vw;
    background-color:var(--White);
    border-top-right-radius:1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow:0px 0px 10px 3px var(--Pale-blue);
}
/* left container */
.result{
    font-size: 1.6vw;
    font-weight: 700;
    color: var(--Light-lavender);
    margin-top:-1vw;
    margin-bottom:-1vw;
}
.circle{
    /* height:39.5%; */
    border-radius:50%;
    width:53%;
    aspect-ratio: 1;
    background: linear-gradient(to top, #4835f1,#4b23ca),
    radial-gradient(circle at bottom, rgba(75, 35, 202, 0.8) 30%, rgba(75, 35, 202, 0.5) 60%, rgba(75, 35, 202, 0) 80%);
    text-align: center;
    margin-bottom: -1rem;
   
    }
.number{
margin-top:2.4vw;
font-size: 5vw;
color: var(--White);
font-weight:900;
margin-bottom: -1vw;
}
.under-number{
    color: #8577fb;
    font-size:1.5vw;
}
.great{
    font-size: 2.5vw;
    color: var(--White);
    font-weight: 700;
    margin-bottom: -1.5vw;
}
.below-great{
    text-align: center;
    color:var(--Light-lavender);
    margin-bottom: 1vw;
    font-size:1.3vw;
}
/* end of left container */
/* right container */
.summary{
font-size: 1.6vw;
font-weight: bolder;
margin-right:auto;
margin-left: 3vw;
margin-top: 0.3vw;
}
.reaction,
.memory,
.verbal,
.visual {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 4vw;
    border-radius: 1vw;
    margin-bottom: -1.5vw;
}
.reaction{
    background-color: hsla(0, 100%, 67%,5%);
    border-radius: 0.5rem;
}
.memory{
    background-color:hsla(39, 100%, 56%,5%);
    border-radius: 0.5rem;
}
.verbal{
    background-color:hsla(166, 100%, 37%,5%);
    border-radius: 0.5rem;
}
.visual{
    background-color:hsla(234, 85%, 45%,5%);
    border-radius: 0.5rem;
}
.button{
    width: 80%;
    height: 4vw;

    margin-top:2vw;
    margin-bottom: 1vw;
}
button{
    outline: none;
    border: none;
    width:100%;
    height:100%;
    background-color: var(--Dark-gray-blue);
    font-size:1.5vw;
    color:white;
    border-radius: 1.5vw;
    cursor:pointer;
}
img{
    margin-left:1vw;
}
.reaction-span,
.memo-span,
.verbal-span,
.visual-span{
    margin-right: auto;
    margin-left: 1vw;
    font-size: 1.35vw;
}
.reaction-span{
    color:var(--Light-red);
}
.memo-span{
    color:var(--Orangey-yellow);
}
.verbal-span{
    color:var(--Green-teal);
}
.visual-span{
    color:var(--Cobalt-blue);
}
.first-number{
margin-right: 1vw;
font-size: 1.35vw;
}
.second-number{
font-size: 1.35vw;
    margin-right:1vw;
    color:#9aa3aa;
}
button:hover{
    background: linear-gradient(to bottom, hsl(252, 96%, 63%), hsl(241, 81%, 54%));
}
/* end of right container*/

}
/* mobile-or smaller devices */
@media (max-width:35em) {
.container {
    display:flex;
    flex-direction:column;
    background-color: var(--White);
    height:100%;
}
.left-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:80vw;
    background: linear-gradient(to bottom, hsl(252, 96%, 63%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 2px solid var(--Light-slate-blue);
}

.right-container {
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:auto;
    background-color: var(--White);
    padding-bottom:5vw;
}
/* top container */
.result {
    font-size: 5vw;
    font-weight: 700;
    color: var(--Light-lavender);
    margin-top:0.5vw;;
    margin-bottom: 1vw;;
}

.circle {
    width:40%;
    aspect-ratio: 1;
    border-radius:50%;
    background: linear-gradient(to top, #4835f1, #4b23ca),
        radial-gradient(circle at bottom, rgba(75, 35, 202, 0.8) 30%, rgba(75, 35, 202, 0.5) 60%, rgba(75, 35, 202, 0) 80%);
    text-align: center;
    margin-bottom:1vw;;
}

.number {
    margin-top:7vw;
    font-size: 15vw;
    color: var(--White);
    font-weight: 900;
    margin-bottom: -2vw;
}

.under-number {
    color: #8577fb;
    font-size: 5vw;
}

.great {
    font-size: 7vw;
    color: var(--White);
    font-weight: 700;
}

.below-great {
    text-align: center;
    color: var(--Light-lavender);
    font-size: 4vw;
}
/* bottom- container */
.summary {
    font-size: 5.5vw;
    font-weight: bolder;
    padding-block:2vw;
}

.reaction,
.memory,
.verbal,
.visual {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 80vw;
    height:18vw;
    border-radius: 0.5rem;
    gap:2vw;
    padding-inline:2vw;
}
.button {
    padding-block:5vw;
} 

button {
    font-size: 5vw;
    width:80vw;
    height:12vw;
    outline: none;
    border: none;
    background-color: var(--Dark-gray-blue);
    color: white;
    border-radius: 5vw;
    cursor: pointer;
}
button:hover {
    background: linear-gradient(to bottom, hsl(252, 96%, 63%), hsl(241, 81%, 54%));
}
.first-number {
    margin-right: 1vw;
    font-size: 5vw;
}

.second-number {
    font-size: 5vw;
    margin-right: 1vw;
    color: #9aa3aa;
}
.reaction-span,
.memo-span,
.verbal-span,
.visual-span {
    margin-right: auto;
    margin-left: 2vw;
    font-size: 5vw;
}
.reaction {
    background-color: hsla(0, 100%, 67%, 5%);
    border-radius: 0.5rem;
}

.memory {
    background-color: hsla(39, 100%, 56%, 5%);
    border-radius: 0.5rem;
}

.verbal {
    background-color: hsla(166, 100%, 37%, 5%);
    border-radius: 0.5rem;
}

.visual {
    background-color: hsla(234, 85%, 45%, 5%);
    border-radius: 0.5rem;
}
.reaction-span {
    color: var(--Light-red);
}

.memo-span {
    color: var(--Orangey-yellow);
}

.verbal-span {
    color: var(--Green-teal);
}

.visual-span {
    color: var(--Cobalt-blue);
}
}